$dark-color-primary: #5d5b8d;
$dark-color-secondary: #3e3c61;
$dark-color-tertiary: #2f2d52;


$gray: rgb(175, 175, 175);
$white: #ddddf7;

$background-primary: #a7bcff;
$background-secondary: #7b96ec;
$background-teriary: #8da4f1;
$error-color: tomato;